/* border-box hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* chef aquino's special sauce */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../images/handshake-laptop.jpg);
    /* background: #3e8e41; */
    
}


html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.handshake {
    background-image: url("/images/handshake-laptop.jpg") no-repeat center center fixed; 
}

.books {
    background-image: url("/images/book.jpg") no-repeat center center fixed; 
}

header, body, footer {
    text-align: center;
    justify-content: center;
    /* outline: 1px solid orangered; */
}

header {
    height: 20%;
    width: 100%;
    padding-top: 2%;
}


footer {
    bottom:0;
    position: absolute;
    width:100%;  
    height: 10%;
}